/node_modules
/public/hot
/public/restaurantspictures
/public/storage
/storage/*.key
/vendor
.env
.ea-php-cli.cache
error_log
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
