.card-dark-bg{
    background-color: #181b2e;
}

.img-width-cst{
    max-width: 1.9rem;
}

.img-max-height-cst{
    max-height: 20px;
}

.br-theme-css-stars .br-widget > a:after {
    content: "\2605" !important;
    color: #d2d2d2;
}